VITE_FIREBASE_API_KEY=AIzaSyBcE2XpYF3Bhvj4Ipfzs8SEK0zOGDuJanQ
VITE_FIREBASE_AUTH_DOMAIN=replexity0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=replexity0
VITE_FIREBASE_STORAGE_BUCKET=replexity0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=927014161218
VITE_FIREBASE_APP_ID=1:927014161218:web:4217843df063d97da516db
